@media screen {
    .search-results-wrapper {
        clear: both;
    }

    .search-results .browse-controls {
        width: 100%;
        justify-content: space-between;
    }

    #contact-us h4 {
        margin-top: 2rem;
    }
    #contact-us .label-checkbox {
        background: initial;
    }

    .resource-list .resource-thumbnail .resource-link img {
        max-width: 90px;
    }

    input#consent[type="hidden"][value="1"] + input#submit {
        display: block;
    }
}
