<?php
$plugins = $this->getHelperPluginManager();

$searchingForm = $plugins->has('searchingForm') ? $plugins->get('searchingForm') : null;
?>

<div class="top-bar">
    <nav class="top-bar-left" aria-label="<?php echo $this->translate('Mobile navigation'); ?>">
        <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
            <button class="menu-toggle" type="button" data-toggle="offCanvas" aria-label="<?php echo $this->translate('Menu'); ?>"><i class="fas fa-bars"></i></button>
        </div>
        <?php $siteLogo = ($this->themeSetting('logo')) ? '<img src="' . $this->themeSettingAssetUrl('logo') . '" title="Logo" alt="">' : ''; ?>
        <h1 class="site-title"><a href="<?php echo $site->url(); ?>"><?php echo $siteLogo; ?><span class="site-title-label <?php echo ($siteLogo !== '') ? 'sr-only' : ''; ?>"><?php echo $this->escapeHtml($site->title()); ?></span></a></h1>
    </nav>
    <div class="top-bar-right" id="responsive-menu">
        <?php echo $site->publicNav()->menu()->setPartial('common/foundation-navigation.phtml')->renderPartialWithParams(['layout' => 'dropdown']); ?>
        <div class="search">
            <?php if ($searchingForm): ?>
            <?= $searchingForm('search/search-form-simple') ?>
            <?php else: ?>
            <?= $this->partial('common/search-form') ?>
            <?php endif; ?>
        </div>
    </div>
</div>
