<?php
$plugins = $this->getHelperPluginManager();

$searchingForm = $plugins->has('searchingForm') ? $plugins->get('searchingForm') : null;

$siteLogo = ($this->themeSetting('logo')) ? '<img src="' . $this->themeSettingAssetUrl('logo') . '" title="Logo" alt="">' : '';
$siteTitle = $this->escapeHtml($site->title());
?>

<div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="large">
    <button class="menu-toggle" type="button" data-toggle="offCanvas" aria-label="<?php echo $this->translate('Menu'); ?>"><i class="fas fa-bars"></i></button>
    <h1 class="site-title"><a href="<?php echo $site->url(); ?>"><?php echo $siteLogo; ?><span class="site-title-label <?php echo ($siteLogo !== '') ? 'sr-only' : ''; ?>"><?php echo $siteTitle; ?></span></a></h1>
</div>
<div class="desktop">
  <h1 class="site-title"><a href="<?php echo $site->url(); ?>"><?php echo $siteLogo; ?><span class="site-title-label <?php echo ($siteLogo !== '') ? 'sr-only' : ''; ?>"><?php echo $siteTitle; ?></span></a></h1>
  <?php echo $site->publicNav()->menu()->setPartial('common/foundation-navigation.phtml')->renderPartialWithParams(['layout' => 'vertical']); ?>
  <div class="search">
        <?php if ($searchingForm): ?>
        <?= $searchingForm('search/search-form-simple') ?>
        <?php else: ?>
        <?= $this->partial('common/search-form') ?>
        <?php endif; ?>
  </div>
</div>
