<?php
$plugins = $this->getHelperPluginManager();
$escape = $plugins->get('escapeHtml');
$translate = $plugins->get('translate');
$siteSetting = $plugins->get('siteSetting');
$escapeAttr = $plugins->get('escapeHtmlAttr');
$themeSetting = $plugins->get('themeSetting');
$themeFunctions = $plugins->get('ThemeFunctions');

if ($this->status()->isSiteRequest()) {
    $labelInfo = $siteSetting('property_label_information');
    $showLocale = (bool) $siteSetting('show_locale_label', true);
    $filterLocale = $siteSetting('filter_locale_values');
    $lang = $this->lang();
    $showValueAnnotations = (bool) $siteSetting('show_value_annotations', false);
    $langHtml = $filterLocale ? $lang : null;
} else {
    $labelInfo = $this->setting('property_label_information');
    $showLocale = true;
    $filterLocale = false;
    $lang = null;
    $showValueAnnotations = true;
    $langHtml = null;
}

$browseTerms = $themeSetting('browse_terms', [
    'dcterms:subject',
]);
$browseTermsNot = $themeSetting('browse_terms_not', [
    'dcterms:title',
    'dcterms:abstract',
    'dcterms:tableOfContents',
    'dcterms:description',
    'dcterms:identifier',
    'bibo:content',
    'bibo:identifier',
    'bibo:uri',
    'extracttext:extracted_text',
]);
?>

<dl>
<?php foreach ($values as $term => $propertyData): ?>
    <div class="property">
        <dt>
        <?php if ($propertyData['alternate_label']): ?>
        <?= $escape($propertyData['alternate_label']) ?>
        <?php else: ?>
        <?= $escape($translate($propertyData['property']->label())) ?>
        <?php endif; ?>
        <?php if ('term' === $labelInfo): ?>
        <span class="field-term">(<?= $escape($propertyData['property']->term()) ?>)</span>
        <?php elseif ('vocab' === $labelInfo): ?>
        <span class="field-term">(<?= $escape($propertyData['property']->vocabulary()->label()) ?>)</span>
        <?php endif; ?>
        </dt>
        <?php foreach ($propertyData['values'] as $value): ?>
        <?php
        $valueType = $value->type();
        $valueLang = $value->lang();
        $valueAnnotation = $value->valueAnnotation();
        $class = ['value'];
        if ('resource' == $valueType || strpos($valueType, 'resource') !== false) {
            $class[] = 'resource';
            $class[] = $escape($value->valueResource()->resourceName());
        } elseif ('uri' == $valueType) {
            $class[] = 'uri';
        }
        ?>
        <?php if ((!$filterLocale) || ($valueLang == '') || (strcasecmp($valueLang, $lang) == 0)): ?>
        <dd class="<?= implode(' ', $class) ?>" lang="<?= $escape($valueLang) ?>">
            <?php if ($showLocale && $valueLang): ?>
            <span class="language"><?= $valueLang ?></span>
            <?php endif; ?>
            <?php $val = $value->asHtml($langHtml); ?>
            <span class="value-content"><?= in_array($term, $browseTerms) || (!in_array($term, $browseTermsNot) && mb_strlen(strip_tags($val)) < 100)
                ? $themeFunctions->browseValueForTerm($value, $term, $lang)['link']
                : $val ?></span>
            <?php if (!$value->isPublic()): ?>
                <span class="o-icon-private" aria-role="tooltip" title="<?= $escapeAttr($translate('Private')); ?>" aria-label="<?= $escapeAttr($translate('Private')) ?>"></span>
            <?php endif; ?>
            <?php if ($valueAnnotation && $showValueAnnotations): ?>
                <a href="#" class="expand" aria-label="<?= $escapeAttr($translate('Expand')) ?>">
                    <span class="has-annotation o-icon-annotation" aria-role="tooltip" title="<?= $escapeAttr($translate('Has annotation')) ?>" aria-label="<?= $escapeAttr($translate('Has annotation')) ?>"></span>
                </a>
                <div class="collapsible annotation">
                    <?= $valueAnnotation->displayValues() ?>
                </div>
            <?php endif; ?>
            <?php $this->trigger('view.show.value', ['value' => $value]); ?>
        </dd>
        <?php endif; ?>
            <?php endforeach; ?>
    </div>
<?php endforeach; ?>
</dl>
