<?php
$translate = $this->plugin('translate');
$escape = $this->plugin('escapeHtml');
$themeSetting = $this->plugin('themeSetting');
$thumbnail = $this->plugin('thumbnail');

$this->headScript()->appendFile($this->assetUrl('js/browse.js'));
$this->htmlElement('body')->appendAttribute('class', 'item resource browse');

$filterLocale = (bool) $this->siteSetting('filter_locale_values');
$lang = $this->lang();
$valueLang = $filterLocale ? [$lang, ''] : null;

$query = $this->params()->fromQuery();
$itemSetShow = isset($itemSet);
if ($itemSetShow) {
    $this->headLink()->appendStylesheet($this->assetUrl('css/resource-page-blocks.css', 'Omeka'));
    $showLayout = $this->themeSetting('show_layout');
    $tabLayout = ($this->themeSetting('tab_navigation_layout')) ? $this->themeSetting('tab_navigation_layout') : 'vertical';
    $tabContent = ($this->themeSetting('tab_navigation_content')) ? $this->themeSetting('tab_navigation_content') : 'main';
    $fullWidthMainBlockContent = $this->resourcePageBlocks($itemSet, 'full_width_main');
    $fullWidthMainHasBlocks = $fullWidthMainBlockContent->hasBlocks();
    $mainWithSidebarBlockContent = $this->resourcePageBlocks($itemSet);
    $mainWithSidebarHasBlocks= $mainWithSidebarBlockContent->hasBlocks();
    $leftSidebarBlockContent = $this->resourcePageBlocks($itemSet, 'left');
    $leftSidebarHasBlocks = $leftSidebarBlockContent->hasBlocks();
    $rightSidebarBlockContent = $this->resourcePageBlocks($itemSet, 'right');
    $rightSidebarHasBlocks = $rightSidebarBlockContent->hasBlocks();

    $tabManager = $this->TabManager();
    $tabNavigationRegion = $tabManager->getTabNavigationRegion($itemSet);

    $this->htmlElement('body')->appendAttribute('class', 'item-set');
    $query['item_set_id'] = $itemSet->id();
}

$layoutSetting = $this->themeSetting('browse_layout', 'grid');
$gridState = ($layoutSetting == 'togglegrid') ? 'disabled' : '';
$listState = ($layoutSetting == 'togglelist') ? 'disabled': '';
$isGrid = (strpos($layoutSetting, 'grid') !== false) ? true : false;
$headingTerm = $this->siteSetting('browse_heading_property_term');
$bodyTerm = $this->siteSetting('browse_body_property_term');
$bodyTruncate = $this->themeSetting('truncate_body_property');

$sortHeadings = [
    [
        'label' => $translate('Title'),
        'value' => 'dcterms:title'
    ],
    [
        'label' => $translate('Identifier'),
        'value' => 'dcterms:identifier'
    ],
    [
        'label' => $translate('Class'),
        'value' => 'resource_class_label'
    ],
    [
        'label' => $translate('Created'),
        'value' => 'created'
    ],
];

$colors = $themeSetting('colors_rights');
?>

<?php if ($itemSetShow): ?>
    <?php echo $this->pageTitle($itemSet->displayTitle(null, $valueLang), 2); ?>
    <h3><?php echo $translate('Item set'); ?></h3>
    <div class="<?php echo ($showLayout == 'inline') ? 'inline' : 'stack'; ?>">
        <?php if ($fullWidthMainHasBlocks): ?>
        <div class="full-width-main">
            <?php $fullWidthBlockArray = $fullWidthMainBlockContent->getBlocksArray(); ?>
            <?php if ($tabNavigationRegion == 'full_width_main'): ?>
                <?php echo $tabManager->renderTabsOnly($itemSet, $tabContent); ?>
            <?php endif; ?>

            <?php if ($tabContent == 'full_width_main'): ?>
                <?php echo $tabManager->renderPanels($resource, $tabContent, $tabLayout); ?>
            <?php else: ?>
                <?php echo $fullWidthMainBlockContent->getBlocks(); ?>
            <?php endif; ?>
            </div>
        <?php endif; ?>

        <?php if ($mainWithSidebarHasBlocks || $leftSidebarHasBlocks || $rightSidebarHasBlocks): ?>

        <?php 
        if ($leftSidebarHasBlocks && $rightSidebarHasBlocks) {
            $sidebarWidth = '3';
            $mainWidth = '6';
        } else {
            $sidebarWidth = '4';
            $mainWidth = '8';
        }
        ?>

        <div class="grid-x grid-margin-x">
            <?php if ($leftSidebarHasBlocks): ?>
            <div class="left-sidebar cell medium-<?php echo $sidebarWidth; ?>">
                <?php if ($tabNavigationRegion == 'left'): ?>
                    <?php echo $tabManager->renderTabsRegion($itemSet, 'left'); ?>
                <?php else: ?>
                    <?php echo $leftSidebarBlockContent->getBlocks(); ?>
                <?php endif; ?>
            </div>
            <?php endif; ?>

            <?php if ($mainWithSidebarHasBlocks): ?>
            <div class="main-with-sidebar cell medium-<?php echo $mainWidth; ?>">
                <?php if ($tabNavigationRegion == 'main'): ?>
                    <?php echo $tabManager->renderTabsOnly($resource, $tabContent, $tabLayout); ?>
                <?php endif; ?>
                <?php if ($tabNavigationRegion && ($tabContent == 'main')): ?>
                    <?php echo $tabManager->renderPanels($itemSet, $tabContent, $tabLayout); ?>
                <?php else: ?>
                    <?php echo $mainWithSidebarBlockContent->getBlocks(); ?>
                <?php endif; ?>
            </div>
            <?php endif; ?>

            <?php if ($rightSidebarHasBlocks): ?>
            <div class="right-sidebar cell medium-<?php echo $sidebarWidth; ?>">
                <?php if ($tabNavigationRegion == 'right'): ?>
                    <?php echo $tabManager->renderTabsRegion($itemSet, 'right', $tabContent, $tabLayout); ?>
                <?php else: ?>
                    <?php echo $rightSidebarBlockContent->getBlocks(); ?>
                <?php endif; ?>
            </div>
            <?php endif; ?>
        </div>
        <?php endif; ?>
    </div>

    <div class="item-set-items">
    <?php echo '<h3>' . $escape($translate('Items')) . '</h3>'; ?>
<?php else: ?>
    <?php echo $this->pageTitle($translate('Items'), 2); ?>
<?php endif; ?>

<?php echo $this->searchFilters(); ?>
<div class="browse-control-mobile">
<button type="button" class="browse-toggle closed"><?php echo $translate('Options'); ?></button>
</div>
<div class="browse-controls top closed">
    <?php echo $this->pagination(); ?>
    <?php if (strpos($layoutSetting, 'toggle') !== false): ?>
    <div class="layout-toggle">
        <button type="button" aria-label="<?php echo $translate('Grid'); ?>" class="tiny button grid o-icon-grid" <?php echo $gridState; ?>></button>
        <button type="button" aria-label="<?php echo $translate('List'); ?>" class="tiny button list o-icon-list" <?php echo $listState; ?>></button>
    </div>
    <?php endif; ?>
    <?php echo $this->hyperlink($translate('Advanced search'), $this->url('site/resource', ['controller' => 'item', 'action' => 'search'], ['query' => $query], true), ['class' => 'advanced-search']); ?>
    <?php echo $this->browse()->renderSortSelector('items'); ?>
</div>

<?php $this->trigger('view.browse.before'); ?>
<ul class="resources <?php echo ($isGrid) ? 'resource-grid' : 'resource-list'; ?>">
<?php
foreach ($items as $item):
    $heading = $headingTerm ? $item->value($headingTerm, ['default' => $translate('[Untitled]'), 'lang' => $valueLang]) : $item->displayTitle(null, $valueLang);
    $body = $bodyTerm ? $item->value($bodyTerm, ['lang' => $valueLang]) : $item->displayDescription(null, $valueLang);
?>
    <li class="item resource <?php echo ($isGrid) ? '' : 'media-object'; ?>">
        <div class="resource-meta <?php echo ($isGrid) ? '' : 'media-object-section'; ?>">
            <?php
            $linkContent = sprintf('%s<span class="resource-name">%s</span>',
                $thumbnail($item, 'medium'),
                $escape($heading));
            echo $item->linkRaw($linkContent, null, ['class' => 'resource-link']);
            ?>
<?php /*
            <?php if ($body): ?>
            <div class="description <?php echo ($bodyTruncate) ? $bodyTruncate : ''; ?>"><?php echo $escape($body); ?></div>
            <?php endif; ?>
            <?php if ($value = $item->value('dcterms:identifier', ['lang' => $langValue])): ?>
            <div class="identifier"><?= $escape($value) ?></div>
            <?php endif; ?>
*/ ?>
            <?php if ($value = (string) $item->value('dcterms:hasFormat', ['lang' => $valueLang])): ?>
            <div class="has-format" style="background-color:<?= $colors[$value] ?? $colors['default'] ?? 'white' ?>"><span>&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
            <?php endif; ?>
            <?php if ($value = $item->value('cumulus:mides', ['lang' => $valueLang])): ?>
            <div class="mides"><?= $escape($value) ?></div>
            <?php endif; ?>
            <?php if ($value = $item->value('cumulus:resolucio', ['lang' => $valueLang])): ?>
            <div class="resolucio"><?= $escape($value) ?></div>
            <?php endif; ?>
            <?php if ($value = $item->value('dcterms:type', ['lang' => $valueLang])): ?>
            <div class="credis"><?= $escape($value) ?></div>
            <?php endif; ?>
        </div>
    </li>
<?php endforeach; ?>
</ul>
<?php echo ($itemSetShow) ? '</div>' : ''; ?>
<?php $this->trigger('view.browse.after'); ?>

<div class="browse-controls bottom">
    <?php echo $this->pagination(); ?>
</div>
