<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \Omeka\Api\Representation\AbstractResourceEntityRepresentation $resource
 * @var \ContactUs\Form\ContactUsForm $form
 * @var string $heading
 * @var string $html Passed directly from the options.
 * @var ?\Common\Stdlib\PsrMessage $message Message of success or error to the user.
 * @var string $status "success" or "error"
 * @var string $contact "us" or "author"
 */

// Note: you may use css grid / flex to quick adapt the form and reorder fields.

$escape = $this->plugin('escapeHtml');

$heading = 'Formulari de sol·licitud de reproducció d’imatges';

$form->get('subject')
    ->setLabel('Assumpte')
    ->setValue('Sol·licitud de reproducció d’imatges');
$form->get('message')
    ->setLabel('Missatge - Si us plau introdueixi aqui els seus requeriments')
    ->setValue('Escrigui aqui la seva petició')
    ->setAttribute('required', null);
// The js replaces the submit button by the consent button and it should be present for any user, even authenticated.
$consent = $form->get('consent');
if ($consent instanceof \Laminas\Form\Element\Hidden) {
    $form->remove('consent');
    $consent = new \Laminas\Form\Element\Checkbox('consent');
    $consent->setAttributes(['id' => 'consent', 'class' => 'required']);
    $form->add($consent);
    // Move submit after consent.
    $submit = $form->get('submit');
    $form->remove('submit')->add($submit->setAttribute('class', 'button'));
}
$consent
    ->setLabel('<a href="' . $this->url('site/page', ['page-slug' => 'avis'], true) . '" target="_blank">He llegit i accepto les condicions d’ús de les imatges</a>')
    ->setLabelAttributes(['class' => 'label-checkbox'])
    ->setLabelOption('disable_html_escape', true);
?>

<div class="contact-us-block">

    <button id="contact-us-store-add" class="button" type="button">Desa els elements marcats per a un ús futur</button>

    <button id="contact-us-store-clear" class="button" type="button">Esborra els elements desats anteriorment</button>

    <?php if (!empty($heading)): ?>
    <h2><?= $escape($heading) ?></h2>
    <?php endif; ?>

    <?= @$html ?>

    <?php if ($message): ?>
    <p class="explanation <?= $status ?>"><?= $message ?></p>
    <?php endif; ?>
    <?php if ($form): ?>
    <?= $this->form($form) ?>
    <?php endif; ?>
</div>
