<?php
/**
 * @var \Laminas\View\Renderer\PhpRenderer $this
 * @var \AdvancedSearch\Form\MainSearchForm $form
 * @var \AdvancedSearch\Api\Representation\SearchConfigRepresentation $searchConfig
 */

// Scripts are loaded via an event on view.layout and can be managed in search-form-main-header.phtml.

$params = $this->params()->fromQuery() ?: [];
$form
    ->setData($params)
    ->prepare();

$formId = $form->getAttribute('id');
if (!$formId) {
    $formId = 'form-search';
    $form->setAttribute('id', $formId);
}

// Move buttons reset and submit outside of the form.
$reset = null;
$submit = null;
if ($form->has('form-reset')) {
    $reset = $form->get('form-reset');
    $reset
        ->setAttribute('class', 'button')
        ->setAttribute('form', $formId);
    $form->remove('form-reset');
}
if ($form->has('submit')) {
    $submit = $form->get('submit');
    $submit
        ->setAttribute('class', 'button')
        ->setAttribute('form', $formId);
    $form->remove('submit');
}
?>

<div id="advanced-search-form-wrapper">
    <div id="advanced-search-form">
        <?= $this->form()->openTag($form) ?>
        <?= $this->formCollection($form) ?>
        <div class="search-form-buttons">
            <?= $reset ? $this->formButton($reset) : null ?>
            <?= $submit ? $this->formButton($submit) : null ?>
        </div>
        <?= $this->form()->closeTag() ?>
    </div>
</div>
